import java.util.Scanner;

public class Main {
    public static void main(String[] args) {

        Scanner input = new Scanner(System.in);
        System.out.println("How many pennies do you have?");
        int pennies = input.nextInt();
        int quarters = pennies/25;
        int whatWeHaveLeftQ = pennies-(quarters*25);
        int dimes = whatWeHaveLeftQ/10;
        int whatWeHaveLeftD = whatWeHaveLeftQ - (dimes * 10);
        int nickels = whatWeHaveLeftD/5;
        int Finalpennies= whatWeHaveLeftD - nickels * 5;



        System.out.println("You have " +quarters+ "quarters, " +dimes+"dimes, "+nickels+"nickels, and "+Finalpennies+"pennies.");


    }
}
